.trackListRow {
  &:hover,
  &.active {
    background-color: hsla(0, 0%, 100%, 0.1);
    .thumbnail-button {
      opacity: 1;
    }
  }
  &:hover {
    .index-button {
      opacity: 1;
    }
    .index {
      display: none;
    }
  }
}
