.card {
  &:hover .play-button {
    opacity: 100%;
    transform: translateY(-8px);
    &:hover {
      transform: translateY(-8px) scale(1.05);
    }
  }
}

.play-button.active {
  opacity: 100%;
  transform: translateY(-8px);
  transform: translateY(-8px) scale(1.05);
}
